.task {
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.task_actions{
    text-decoration: none;
    float: right;
    color: red;
}

a:hover{
    text-decoration: none;
}

.task_title{
    width: 80%;
    font-size: larger;
    font-weight: bold;
}

.task .task_actions{
    display: none;
}

.task:hover .task_actions{
    display: block;
}

.end_time{
    color: #cd1136c9;

}

.description{
    border-top: 1px dashed rgba(0, 0, 0, 0.1);
}

.task-Expired{
    color: white;
    background-color: #dc3545;
}

.task-Pending{
    color: black;
    background-color: #ffc107;
}

.task-Completed{
    color: white;
    background-color: #28a745;
}
